.schedules-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
    .cards-container {
        display: flex;
        flex-wrap: wrap;
      }
      
      .card {
        width: 20rem;
        gap: 20px;
        display: flex;
        flex-direction: column;
   
      }
      
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 12rem;
        background-color: rgba(92, 93, 167, 0.329);
      
        padding-left: 1rem;
        color: white;
      }
      
      h2 {
        font-size: 1.2rem;
        font-weight: 900;
        color: #4da4c7;
      }
      
      p {
        margin: 0;
      }
      
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
  }
  
  
  .cards-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .box{
    /* gap: 20px; */
    display: flex;
    flex-direction: column;
    
    
  }